.nav-sub-menu {
    line-height: 0.5;
}

.createButton {
    float: right;
}

.registry_status_icon  {
    text-decoration: none;
    color: #343a40 !important;
    font-size: 2rem;
}

.registry_status_icon_active {
    color: #a7d158 !important;
}

.image_preview {
    /*display:block;
    max-width: 100%;
    margin:0 auto;*/
    width: 100%; 
    height: 100%;
    /*margin-top: 5px;
    margin-bottom: 5px;*/
}

.icon-modal-image {
    cursor: pointer;
}

th.dt-center, td.dt-center { 
    text-align: center; 
}

.ajax-loader {
    background: rgba(0, 0, 0, 0.6);
    cursor: wait;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
  }
  